<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Blog.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/JQuery.js")" type="text/javascript"></script>
    @RenderSection("ExtraHeaders", false)
    
</head>

<body>
    @RenderBody()   
</body>
</html>
